<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理后台页面</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>

<!--黑色导航开始-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生管理后台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">注销</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.session.user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">添加用户</a></li>
                        <li><a href="#">注销登录</a></li>
                        <li><a href="#">重置密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--黑色导航结束-->


<div class="row">

    <!--左侧导航开始-->
    <div class="col-md-2">
        <div style="height: 800px;background: rgb(245,245,245);">
            <div class="list-group">
                <a href="/plisher_list/?page=1" class="list-group-item ">出版社列表</a>
                <a href="/book_list/" class="list-group-item active">书籍列表</a>
                <a href="/author_list/" class="list-group-item">作者信息</a>
                {#                <a href="#" class="list-group-item">Porta ac consectetur ac</a>#}
                {#                <a href="#" class="list-group-item">Vestibulum at eros</a>#}
            </div>
        </div>
    </div>
    <!--左侧导航开始-->

    <!--面板开始-->
    <div class="col-md-9" style="margin-left: 40px">
        <div class="panel panel-primary">
            <div class="panel-heading">书籍信息</div>
            <div class="panel-body">

                <!--面板搜索框-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-btn">
{#                            <button class="btn btn-success pull-right " type="button">添加</button>#}
                                <a class="btn btn-success pull-right" href="/add_book/">添加</a>
                            </span>

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <!--面板搜索框-->
                <div class="row">
                    <div class="col-md-12" style="margin-top: 10px">
                        {#                        <a href="/add_plisher/">添加出版社信息</a>#}
                        {#                        <a href="/add_book/">添加书籍</a>#}
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>标题</th>
                                <th>出版社</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in book_list %}
                                <tr>
                                    <td>{{ book.id }}</td>
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.p.name }}</td>  <!--外键取值为对象-->
                                    <td>{{ book.price }}</td>
                                    <td><a class="btn btn-success" href="/edit_book/?id={{ book.id }}">编辑</a>
                                        {# 编辑按钮#}
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal" data-whatever="{{ book.id }}">编辑2
                                        </button>
                                        {#   弹出模态框#}
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="exampleModalLabel">编辑图书</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/edit_book2/" method="post" id="f1">
                                                            <input type="hidden"  name="ss" id="ss" >
                                                            <div class="form-group">
                                                                <label for="recipient-name"
                                                                       class="control-label">书名</label>
                                                                <input type="text" class="form-control"
                                                                       id="recipient-name" name="recipient-name">
                                                            </div>
                                                            {#                                                            <div class="form-group">#}
                                                            {#                                                                <label for="message-text"#}
                                                            {#                                                                       class="control-label">出版社</label>#}
                                                            {#                                                                <textarea class="form-control"#}
                                                            {#                                                                          id="message-text"></textarea>#}
                                                            {#                                                            </div>#}
                                                            <label for="plisher"
                                                                   class="control-label">出版社</label>
                                                            <select class="form-control" id="p_se" name="p_se">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option value="555">5</option>
                                                            </select>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary" id="b1">Send message
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pull-right">
                                {#                                <li>#}
                                {#                                    <a href="#" aria-label="Previous">#}
                                {#                                        <span aria-hidden="true">&laquo;</span>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                {#                                <li><a href="#">1</a></li>#}
                                {#                                <li><a href="#">2</a></li>#}
                                {#                                <li><a href="#">3</a></li>#}
                                {#                                <li><a href="#">4</a></li>#}
                                {#                                <li><a href="#">5</a></li>#}
                                {#                                <li>#}
                                {#                                    <a href="#" aria-label="Next">#}
                                {#                                        <span aria-hidden="true">&raquo;</span>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                {{ page_html|safe }}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--面板结束-->
</div>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        // ajax 查询请求当前编辑数据
        var selEle = $("#p_se")   // 获取select
        selEle.empty()           // 删除select内所有option
        $.ajax({
            url: "/find_book/",
            type: "post",
            data: {"id": recipient},
            success: function (args) {
                $('#ss').val(recipient)


                op = JSON.parse(args);
                {#oo = op[0].plisher#}
                {#alert(typeof recipient)#}
                {#alert(op[0].plisher.length)#}
                {#op = JSON.stringify(args)#}
                {#alert(op[0].name)#}
                {#alert(args.name)#}
                // 循环创建每一个option并赋值
                for (var i = 0;i < op[0].plisher.length;i++){

                    var optionEle = document.createElement('option');
                    {#$(optionEle).val(op[0].plisher[i])#}
                    $(optionEle).val(op[0].plisher[i].id)
                    $(optionEle).text(op[0].plisher[i].name);
                    $(selEle).append(optionEle)
                }
                {#alert(recipient)#}
                selEle.val(op[0].p_id)
                modal.find('.modal-body input').eq(1).val(op[0].title)  // 书名输入框赋值
                modal.find('.modal-body input').eq(0).val(recipient)  // 书名输入框赋值
            }
        });

        var modal = $(this)
        {#alert('ok')#}
        modal.find('.modal-title').text('New message to ' + recipient)
        {#modal.find('.modal-body input ').val(recipient)#}
        {#modal.find('.modal-body input').val(recipient)#}

        {#alert(recipient)#}

    })

    $("#b1").on('click',function(){

        $("#f1").submit()
    })

</script>
</body>
</html>