<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>test页面</h1>
{% load myfilter %}
{{ name|sb }}

<form action="/upload/" method="post" enctype="multipart/form-data">
    请选择文件: <input type="file"  name="file" >
    <input type="submit" value="提交">
</form>

<a href="{% url 'home' %}">跳转app_01页面</a>
<hr>
<button onclick="isWeiXin()">测试</button>
<script>
     function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        console.log(ua);//mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    if (isWeiXin()) {
         alert(" 是来自微信内置浏览器")
    } else {
         alert("不是来自微信内置浏览器")
    }
</script>
</body>
</html>